h1 {
  color: red;
  width: 120pt
  text-align:center;
}

h2 {
  font-style: italic;
  font-family: cursive;
}

.important {
  font-weight: bolder;
}

.cupcake {
  font-style: italic;
}

.birthday {
  float: right;
  border: yellow;
  border-width: medium;
}
.sidbar {
  float:left;
  background-color: green;
}
.column {
  width:400px;
  float:left;
  background-color: blue;

}
